<div>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/graphic">Gráficas</a></li>
        <li><a href="/configuration">Configuraciones</a></li>
        <li><a href="/user">Usuarios</a></li>
        <li><a href="#">Reportes <i class="fa-angle-down"></i></a>
            <ul>
                <li class="sub-item">
                    <a href="/report/week">Reporte Semanal</a>
                </li>
                <li class="sub-item">
                    <a href="/report/range">Reporte por Fechas</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
<div class="logout">
    <a href="/logout" class="btn btn-primary">Salir</a>
</div>