<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuraciones - Editar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="center-content">
        <p> Configuracion
            <%= data[0]['id']%>
        </p>
        <form class="form-edit" action="/configuration/editRegister" method="POST">
            <input name="id" type="hidden" value="<%= data[0]['id']%>">
            <div class="form-item">
                <label for="max_temp">Maxima temperatura</label>
                <input name="max_temp" type="text" value="<%= data[0]['max_temperatura']%>">
            </div>
            <div class="form-item">
                <label for="min_temp">Minima temperatura</label>
                <input name="min_temp" type="text" value="<%= data[0]['min_temperatura']%>">
            </div>
            <div class="form-item">
                <input class="btn btn-primary" type="submit" value="Guardar">
                <a class="btn btn-secondary" href="/configuration">Salir</a>
            </div>
        </form>
    </div>
</body>

</html>