<div class="popup-container">
    <form class="form-edit" action="/user/editUser" method="POST">
        <input id="id" name="id" type="hidden">
        <div class="form-item">
            <label for="nombre">Nombre</label>
            <input id="name" name="nombre" type="text">
        </div>
        <div class="form-item">
            <label for="apellido">Apellido</label>
            <input id="lastname" name="apellido" type="text">
        </div>
        <div class="form-item">
            <label for="usuario">Usuario</label>
            <input id="user" name="usuario" type="text">
        </div>
        <div class="form-item">
            <label for="contrasena">Contraseña</label>
            <% if(rol == "ADMINISTRADOR") {%>
                <input id="pass" name="contrasena" type="password">
                <%}else{%>
                    <input class="readonly" id="pass" name="contrasena" type="password" readonly>
                    <%}%>
        </div>
        <div class="form-item">
            <label for="correo">Correo</label>
            <input id="email" name="correo" type="email">
        </div>
        <div class="form-item">
            <label for="tipoNotificacion">Tipo de Notificación</label>
            <select id="tipon" name="tipoNotificacion">
                <option value="none" selected disabled hidden>Seleccionar Tipo</option>
                <% for(var i=0; i < typ.length; i++) {%>
                    <option value="<%= typ[i] %>"> <%= typ[i] %></option>
                    <% } %>
            </select>
        </div>
        <div class="form-item">
            <label for="rol">Rol</label>
            <% if(rol == "ADMINISTRADOR") {%>
                <select id="rol_t" name="rol">
                    <option value="none" selected disabled hidden>Seleccionar Tipo</option>
                    <% for(var i=0; i < rols.length; i++) {%>
                        <option value="<%= rols[i] %>"> <%= rols[i] %></option>
                        <% } %>
                </select>
                <%}else{%>
                    <input class="readonly" id="rol_t" name="rol" type="text" readonly>
                    <%}%>
        </div>
        <div class="form-item">
            <label for="envioCorreo">Activo para envio</label>
            <input id="envio" name="envioCorreo" type="checkbox">
        </div>
        <div class="form-item">
            <input class="btn btn-primary" type="submit" value="Guardar">
            <a class="btn btn-secondary" onclick="toggle_visibility('editUser')">Salir</a>
        </div>
    </form>
</div>