<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficas - Camaras</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="contenedor">
        <div class="nav">
            <%- include ("./../../partials/navegacion.ejs") %>
        </div>
        <div class="center-content">
            <h2>Camaras de frio:</h2>
            <div class="cards">
                <% data.forEach(camara => {%>
                    <a class="btn btn-secondary" href="graphic/<%= camara['id'] %>">
                        <%= camara['nombre'] %>
                    </a>
                    <% }) %>
            </div>
        </div>
    </div>

</body>

</html>