.page {
    margin: 0 auto;
    max-width: 1200px;
}

.conteiner {
    text-align: center;
}

.contenedor {
    width: auto;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.center-content {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

h2,
h3,
p,
label,
td,
th {
    font-family: Arial, Helvetica, sans-serif;
    margin: 14px 0;
}

.btn {
    padding: 5px 20px;
    border-radius: 0.2rem;
    border: 0;
}

.btn-primary {
    background-color: rgb(13, 228, 13);
    color: white;
}

.btn-secondary {
    background-color: coral;
    color: white;
}

.nav {
    background-color: rgb(38, 52, 63);
    padding: 5px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.nav li a {
    color: white;
    text-decoration: none;
}

.login {
    height: 400px;
    width: 600px;
    margin: 10% auto;
}

.login-form {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: cornsilk;
}

.login-form form {
    font-size: 20px;
    margin: 2% 20%;
}

.form-item {
    display: flex;
    justify-content: space-between;
}

.form-edit {
    width: 500px;
    margin: 0 auto;
}

.form-item input {
    height: 30px;
    margin-left: 8px;
}

.btn:hover {
    cursor: pointer;
}

.camara {
    background-color: whitesmoke;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 10px;
    margin-bottom: 10px;
}

.header-card {
    background-color: #32502a;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.header-card p {
    padding: 5px;
    margin: 0;
}

.footer-card {
    padding: 3px;
}

table {
    width: 100%;
    max-width: 800px;
}

.tab {
    margin-bottom: 40px;
}

th {
    padding-bottom: 10px;
}

td {
    padding: 5px 0;
}

.tab:last-of-type {
    margin-bottom: 0px;
}

.temp-body {
    display: flex;
    justify-content: space-around;
}

.temp-body span {
    font-weight: bolder;
}

.temp {
    margin: 0 10px;
    color: white;
    border-radius: 0.4rem;
    background: linear-gradient(0deg, rgba(0, 208, 209, 1) 0%, rgba(0, 176, 168, 1) 46%, rgba(0, 138, 127, 1) 74%);
}

.temp-conten {
    display: flex;
    padding: 0 25px;
}

.last-temp {
    margin: auto 20px;
    font-size: 40px;
}

.temp-header {
    background-color: #3a3a3a;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.temp-header h3 {
    margin: 0;
    padding: 6px 0;
}