.page {
    margin: 0 auto;
    max-width: 800px;
}

.conteiner {
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: end;
    width: auto;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h2,
h3,
p,
label {
    font-family: Arial, Helvetica, sans-serif;
    margin: 14px 0;
}

.btn {
    padding: 10px 20px;
    border-radius: 0.2rem;
    border: 0;
}

.btn-primary {
    background-color: rgb(13, 228, 13);
    color: white;
}

.btn-secondary {
    background-color: coral;
    color: white;
}

.nav {
    font-size: 20px;
    font-weight: bolder;
}

.login {
    background-color: cornsilk;
    height: 400px;
    width: 600px;
    margin: auto;
}

.login-form {
    display: flex;
    justify-content: center;
}

.login-form form {
    display: flex;
}

.btn:hover {
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: end;
}

.card {
    margin: 0 10px
}

.temp-body {
    display: flex;
    justify-content: space-around;
}

.temp-body span {
    font-weight: bolder;
}

.temp {
    margin: 0 10px;
    color: white;
    border-radius: 0.4rem;
    background: linear-gradient(0deg, rgba(0, 208, 209, 1) 0%, rgba(0, 176, 168, 1) 46%, rgba(0, 138, 127, 1) 74%);
}

.temp-conten {
    display: flex;
    padding: 0 25px;
}

.last-temp {
    margin: auto 20px;
    font-size: 40px;
}

.temp-header {
    background-color: #3a3a3a;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.temp-header h3 {
    margin: 0;
    padding: 6px 0;
}