body {
    margin: 0;
}

.page {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.contenedor {
    width: auto;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.center-content {
    margin: 30px auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

h2,
h3,
td,
th {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0;
}

p,
label {
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}

.lower {
    font-size: 17px;
}

.f-rght {
    float: right;
}

.btn {
    padding: 5px 20px;
    border-radius: 0.2rem;
    border: 0;
    font-weight: bolder;
}

.btn-primary {
    background-color: #a6f6f1;
    color: #213e3b;
    font-size: 15px;
}

.btn-secondary {
    background-color: #213e3b;
    color: white;
}

.disabled,
.btn:disabled,
.btn[disabled] {
    background-color: #a6f6f19a;
    color: #2d3d3ca8;
}

.nav {
    background-color: rgb(38, 52, 63);
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    margin: 5px 0;
}

.nav li {
    margin: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
    background-color: rgb(38, 52, 63);
}

.nav li ul li {
    margin: 0;
    opacity: 0.9;
}

.nav li a {
    padding: 5px;
    color: white;
    text-decoration: none;
}

.nav li ul {
    display: none;
    position: absolute;
    padding: 0;
}

.nav li:hover ul {
    display: block;
}

.sub-item {
    padding: 10px 0;
}

.logout,
.edit-cam {
    margin: auto 0;
}

.center-btn {
    margin: auto;
}

.readonly {
    background-color: silver;
}

.login {
    height: 400px;
    width: 600px;
    margin: 10% auto;
}

.login-form {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

.login-form form {
    font-size: 20px;
    margin: 2% 20%;
}

.form-item {
    display: flex;
    justify-content: space-between;
}

.cam-config {
    margin: 10px 80px;
}

.form-edit {
    width: 450px;
    margin: 0 auto;
}

.form-item input,
select {
    height: 30px;
    margin: auto 8px;
}

select {
    width: 178px;
}

.btn:hover {
    cursor: pointer;
}

.title-camara {
    display: flex;
    justify-content: space-between;
    background-color: #213e3b;
    color: white;
    padding: 0 10px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.camara {
    background-color: whitesmoke;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
}

.camara:last-of-type {
    margin-bottom: 0;
}

.cards {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(25% - 1rem);
    margin: 0 5px 5px 5px;
    text-align: center;
    background-color: #e8ffff;
}

.cam-layout {
    flex: 0 0 calc(50% - 1rem);
    margin: 0 5px 5px 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #aaa;
}

.body-card {
    padding: 0 5px;
}

.header-card {
    background-color: #41aea9;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.header-card p {
    padding: 5px;
    margin: 0;
}

.footer-card {
    padding: 3px;
    margin-bottom: 5px;
}

.popup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 70px auto;
}

.popup-position {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
}

.tab-title {
    background-color: #213e3b;
    color: white;
}

.tab {
    margin-bottom: 40px;
}

th {
    padding: 5px 0;
}

td {
    height: 40px;
}

table,
th,
td {
    border-collapse: collapse;
}

.tab:last-of-type {
    margin-bottom: 0px;
}

.temp-body {
    display: flex;
    justify-content: space-around;
}

.temp-body span {
    font-weight: bolder;
}

.temp {
    color: white;
    border-radius: 0.4rem;
    background: linear-gradient(0deg, rgba(0, 208, 209, 1) 0%, rgba(0, 176, 168, 1) 46%, rgba(0, 138, 127, 1) 74%);
}

.temp-conten {
    display: flex;
    padding: 0 15px;
}

.last-temp {
    font-size: 40px;
    margin: auto 4px;
}

.temp-header {
    background-color: #213e3b;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.temp-header h3 {
    margin: 0;
    padding: 6px 0;
}

#line-chart {
    max-width: 1200px;
    max-height: 500px;
    margin: 0 auto;
}

.paginationjs-pages ul {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.paginationjs-pages li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
    border: 1px solid #ddd;
}

.paginationjs-pages li a {
    padding: 0 0.8rem;
}

.active {
    background: #a6f6f1;
}