<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte por Fechas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="contenedor">
        <div class="nav">
            <%- include ("./../../partials/navegacion.ejs") %>
        </div>
        <div class="center-content">
            <div class="f-rght">
                <a id="gen-pdf" class="btn btn-primary" disabled>Generar PDF</a>
            </div>
            <h2>Gráfica Semanal de picos de Temperatura <span id=test></span></h2>
            <div>
                <input id="start" type="hidden" readonly>
                <input id="end" type="hidden" readonly>
                <div class="form-item cam-config">
                    <div>
                        <label>Cámara Frigorífica</label>
                        <select id="camfrio">
                            <option value="" selected disabled hidden>Seleccionar Cámara</option>
                        </select>
                    </div>
                    <div>
                        <label>Temocupla</label>
                        <select id="termo">
                            <option value="" selected disabled hidden> Seleccionar Termocupla</option>
                        </select>
                    </div>

                </div>
            </div>
            <div id="bar-chart"></div>
            <div>
                <h2>Semanas</h2>
                <div id="pagination-container"></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/bar_chart.js"></script>
<script src="/js/paginator.js"></script>

<script>
    var init_year_mon = "2021-01-04";
    var init_year_sun = "2021-01-10";
    var monday = [];
    var sunday = [];
    var datasource = [];
    for (let i = 0; i < 52; i++) {
        var dat_mon = new Date(init_year_mon);
        var dat_sun = new Date(init_year_sun);
        dat_mon.setDate(dat_mon.getDate() + (7 * i) + 1);
        dat_sun.setDate(dat_sun.getDate() + (7 * i) + 1);
        monday.push(getFormatDate(dat_mon));
        sunday.push(getFormatDate(dat_sun));
        datasource.push(i + 1);
    };
    $('#pagination-container').pagination({
        dataSource: datasource,
        pageSize: 1,
        callback: function(data, pagination) {
            $("#end").val(sunday[data - 1]);
            $("#start").val(monday[data - 1]);
            refreshid();
        }
    })
</script>
<script>
    function agregarOpcion(select, msg, valor) {
        var option = document.createElement("option");
        option.value = valor;
        option.text = msg + valor;
        select.appendChild(option);
    }
    $.ajax({
        method: "POST",
        url: "/getCamaras",
        dataType: "json",
        success: function(response) {
            var ids = response.data;
            var sel = document.getElementById("camfrio");
            ids.forEach(item => {
                agregarOpcion(sel, "Camara ", item);
            });
        }
    });
    document.getElementById("camfrio").onchange = function() {
        $.ajax({
            method: "POST",
            url: "/getConfigsByCam",
            data: {
                id: $("#camfrio").val()
            },
            dataType: "json",
            success: function(response) {
                var configs = response.data;
                $('#termo option[value != ""]').remove();
                var sel = document.getElementById("termo");
                configs.forEach(item => {
                    agregarOpcion(sel, "Termocupla ", item);
                });
                if ($("#termo").val() != null) {
                    refreshid();
                }
            }
        });
    };
    document.getElementById("termo").onchange = function() {
        $("#gen-pdf").attr("disabled", false);
        $("#gen-pdf").attr("onclick", "PDF()");
        refreshid();
    };
</script>
<script>
    function PDF() {
        Plotly.toImage('bar-chart').then(function(url_img) {
            $.ajax({
                method: "POST",
                url: "/getPDF",
                data: {
                    img: url_img,
                    cam: $("#camfrio").val(),
                    conf: $("#termo").val(),
                    start: $("#start").val(),
                    end: $("#end").val()
                },
                dataType: "json",
                success: function() {
                    alert("PDF creado en la carpeta public/reportes");
                }
            });
            alert("PDF creado en la carpeta public/reportes");
        });
    }
</script>

</html>